# Library core pkgs
colorama
numpy
openai
portalocker
psutil
pytest
tinydb

# Knowledge-base pkgs
chromadb
llama-index
llama-index-vector-stores-chroma
llama-index-embeddings-openai
llama-index-llms-openai

# Library optional pkgs
evalplus
graphviz
llmlingua
ribs
xxhash

# Web app pkgs
fastapi
matplotlib
networkx
pandas
pillow
requests
streamlit
tiktoken
uvicorn

# Ecology agent pkgs
beautifulsoup4
pygraphviz
