# Library required pkgs
colorama
numpy
openai
portalocker
psutil
pytest
tinydb

# Library optional pkgs
evalplus
graphviz
llmlingua
ribs
xxhash

# Web app pkgs
fastapi
matplotlib
networkx
pandas
pillow
requests
streamlit
tiktoken
uvicorn
