# Rome Core Packages
colorama
networkx
numpy
openai
portalocker
psutil
pytest
tinydb

# KB/Memory Packages
chromadb
llama-index
llama-index-vector-stores-chroma
llama-index-embeddings-openai
llama-index-llms-openai
mem0ai[graph]

# Casear Agent Packages
anthropic
beautifulsoup4
curl_cffi
google-genai
pygraphviz
PyPDF2
tabulate
tenacity

# Rome Optional Packages
evalplus
graphviz
llmlingua
ribs
tiktoken
xxhash